.footer {
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 16px 32px;
  font-size: 14px;
  width: 100%;
  margin-top: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.group {
  display: flex;
  gap: 16px;
  align-items: center;
}

.link {
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.link:hover {
  color: var(--secondary-color);
}

.footerText {
  color: var(--text-light);
  font-size: 14px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .group {
    justify-content: center;
    flex-wrap: wrap;
  }
}
